html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.header {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  font-family: Bevan, serif;
  text-align: center;
  margin: 0;
  color: #fff;
}

.header nav {
  font-family: sans-serif;
  margin: .3em;
  padding: 0;
  text-align: center;
}

.header ul {
  margin: 0;
  padding: 0;
}

.header li {
  display: inline-block;
  margin: .2em;
}

.header a {
  display: inline-block;
  color: #fff;
  background-color: #713837;
  padding: .5em .75em;
  border-radius: 4px;
  text-decoration: none;
}

.header a:hover {
  color: #fff;
  background-color: #f33;
}
